<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QBitNinjaUrl" value="http://api.qbit.ninja/"/>
    <add key="network" value="Main"/>
    <add key="StartLine" value="92"/>
    <add key="EndLine" value="93"/>
    <add key="DustAmount" value="2730"/>
    <add key="BCCHeight" value="478558"/>
    <add key="FeeRatePerK" value="20000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>